* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list{
  width:960px;
  margin:50px auto;
}

li{
  list-style:none;
  padding:20px;
}

li:nth-child(odd){
  background-color:#C0C0C0;
}

.box-content{
  width:960px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}



.box{
  width:30%;
  height:200px;
  margin-bottom:40px;
  background-color:#FFD700;

}


.box:nth-child(1){
  background-color: #FF8C00;
}

.box:nth-child(2){
 margin:0 5% 40px 5%;
}


.box:nth-child(5){
  background-color: #FF8C00;
  margin:0 5% 40px 5%;
}

.box:nth-child(7){
   margin-bottom:50px
}


.box:nth-child(8){
 margin:0 5% 50px 5%;
}

.box:nth-child(9){
  background-color: #FF8C00;
  margin-bottom: 50px
}




